:root {
  --player-x-color: #1976d2;
  --player-x-bg: #e3f2fd;
  --player-x-border: #1976d2;

  --player-o-color: #c2185b;
  --player-o-bg: #fce4ec;
  --player-o-border: #c2185b;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
